Other/Resources/CA
Other/Resources/PlantUML
Other/Resources/DevelopmentCertificate
Other/Resources/CycloneDXCLI

Other/Resources/Artifacts
CLAUDE.local.md
.claude/settings.local.json
.claude/*.lock
Other/Logs